@model IndexViewModel

@{
    Layout = "~/Views/Shared/_HatLayout.cshtml";
}

@section styles {
    <link href="@Url.Content("~/css/index.css")" rel="stylesheet">
}

<div class="row">

    <div class="col">
        <div>
            <h3>Добро пожаловать в Sims Clicker, @Model.User.UserName</h3>
            <h4>У вас уже накоплено <span id="current_score">@Model.User.CurrentScore</span> симолеонов </h4>
            <h4>Всего вы имеете <span id="record_score">@Model.User.RecordScore</span> симолеонов</h4>
            <h4>С одного клика вы получаете <span id="profit_per_click">@Model.User.ProfitPerClick</span> симолеонов</h4>
            <h4>Твои подчиненные ежесекундно получают <span id="profit_per_second">@Model.User.ProfitPerSecond</span> симолеонов</h4>
        </div>
    </div>

    <div class="col justify-content-center">
         <button id="clickitem" class="click-item bg-transparent border-0">
             <img class="w-50" src="~/ore.png" />
         </button>
    </div>

    <div class="col">
        <h3>Улучшения</h3>
        <div class="d-flex">
            @foreach (var boost in Model.Boosts)
            {
                var userBoost = Model.User.UserBoosts.FirstOrDefault(ub => ub.BoostId == boost.Id);

                var price = userBoost?.CurrentPrice ?? boost.Price;
                var quantity = userBoost?.Quantity ?? 0;

                <button class="boost-button border-0 m-3">
                    <span class="boost-id" hidden>@boost.Id</span>
                    <h4>@boost.Title</h4>
                    <img src="data:image/png;base64, @Convert.ToBase64String(boost.Image)" height="100" />
                    <h5 class="boost-price-string">Цена: <span class="boost-price">@price</span></h5>
                    <h5>
                        Доход: @boost.Profit
                        @if (boost.IsAuto)
                        {
                            <span> в секунду</span>
                        }
                    </h5>
                    <h5>
                        Количество приобретенных бустов: <span class="boost-quantity">@quantity</span>
                    </h5>
                </button>
            }
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/index.js"></script>
}